@media (min-width: 1200px){
    :root{
    --cor1: #632C77;
    --cor1_light: #81359c;
    --color_a-nav: #9b69ad;
    --color_a-hero: #29dada;
    }

    #nav-range{
        gap: 40px;
    }

    #section-hero{
        background-image: linear-gradient(to bottom, transparent 30%, rgb(61, 0, 61) 90%),
        url(../images/bg_topo_1600x1374.jpg);
        height: 90vh;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #section-hero #hero-container > p{
        width: 60%;
    }

    #section-servicos{
        gap: 20px;
        justify-content: space-evenly;
    }

    #section-servicos > .servicoAngels{
        width: 20%;
    }

    #tipos-hospedagem{
        width: 95%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #tipos-hospedagem > .hospedagem{
        flex-direction: row;
        width: 45%;
        margin-right: 50px
    }

    #tipos-hospedagem > .hospedagem img{
    width: 200px;
    }

    #tipos-hospedagem > .hospedagem .text-hospedagem{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        
    }
}