:root{
    --cor1: #632C77;
    --cor1_light: #81359c;
    --color_a-nav: #9b69ad;
    --color_a-hero: #29dada;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho-range{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#nav-range{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #632C77;
}

#nav-range .link-nav{
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}

#nav-range .link-nav:hover{
    background-color: var(--color_a-nav);
}

#section-hero #hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section-hero #hero-container > h1{
    font-size: 2.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cor1);
}

#section-hero #hero-container > p{
    font-size: 1.8rem;
    text-align: center;
    width: 85%;
}

#section-hero #hero-container > #action-hero{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.0rem;
    text-decoration: none;
    color: white;
    background-color: var(--color_a-hero);
    width: 120px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 1px;
    transition-duration: 0.6s;
    transition-delay: 0.4s;
    transition-timing-function: ease;
}

#section-hero #hero-container > #action-hero:hover{
    transform: scale(1.2);
}

#section-servicos{
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#section-servicos > .servicoAngels{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

#section-servicos > .servicoAngels .icon{
    font-size: 50px;
    color: var(--cor1);
}

#section-servicos > .servicoAngels h2{
    font-size: 2.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cor1_light);
}

#section-servicos > .servicoAngels p{
    font-size: 1.7rem;
    text-align: center;
}

#tipos-hospedagem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#tipos-hospedagem > .hospedagem{
    width: 330px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;
}

#tipos-hospedagem > .hospedagem img{
    width: 330px;
}

.hospedagem .text-hospedagem{
    text-align: left;
}

.hospedagem .text-hospedagem h2{
    font-size: 2.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

.hospedagem .text-hospedagem p{
    margin-top: 0px;
    font-size: 1.7rem;
}

#footer{
    margin-top: 50px;
    background-color: rgb(23, 29, 36);
    padding: 20px;
}

#footer h3{
    font-size: 2.0rem;
    text-align: center;
    color: white;
}

#footer p{
    font-size: 1.8rem;
    text-align: center;
    color: white;
}