@media screen and (min-width: 1020px){

    .hero .content{
        grid-column: 1 / span 6;
    }

    .hero > img{
        grid-column: 7 / span 5;
    }

    .brands > ul{
        display: flex;
        justify-content: space-around;
    }

    #sobre{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(12,1fr);
    }

    #sobre article{
        grid-column: 8 / 13;
        align-content: center;
    }

    #sobre article h2{
        font-size: 46px;
    }

    #sobre article p{
        width: 85%;
    }

    #sobre > img{
        grid-column: 1 / span 5;
    }

    .results{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        align-items: center;
    }

    .results > article{
        grid-column: 1 / span 4;
    }

    .results article h2{
        font-size: 46px;
    }

    .results img{
        grid-column: 8 / span 4;
    }

    .testemunhos_wrapper{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
    }

    .testemunhos_wrapper .testemunho{
        display: block;
        grid-column: span 4;
        text-align: center;
    }

    .testemunho .testemunho_thumb{
        width: 150px;
    }

    .contato{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-auto-flow: column;
    }

    .contato .contato_content{
        grid-column: 8 / span 4;
    }

    .contato_content .contato_title{
        font-size: 46px;
    }

    .contato .contato_image{
        display: inline-block;
        grid-column: 1 / span 7;
    }

    #footer-grid{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 20px;
        align-items: start;
    }

    #footer-grid .section-info{
        grid-column: 1 / span 5;
    }

    #footer-grid .section-company{
        grid-column: 6 / span 2;
        padding-top: 0px;
    }

    #footer-grid .section-contact{
        grid-column: 9 / span 3;
        padding-top: 0px;
    }
}
