:root {
    --dark: #272D38;
    --light: #FFF;
    --primary-color: #8EADD5;
    --primary-color-dark: #3f3f3f;
    --gray: #F6F6F6;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    text-align: center;
    margin: 0;
    background-image: 
    radial-gradient(circle at left top, rgb(142 173 213 / .3), transparent 400px),
    radial-gradient(circle at right center, rgb(142 173 213 / .3), transparent 400px);
}

.content-wrapper-center {
    padding: 1rem;
}

.header-menu {
    list-style-type: none;
    padding: 0;
    text-align: right;
    
}

.header-menu a {
    display: block;
    padding: 2em 0;

}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.header {
    text-align: left;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light);
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-color-dark);
}

img {
    max-width: 100%;
}


.brands h2 {
    font-size: 1rem;
    font-weight: lighter;
    color: #667085;
}

.brands ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1em;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.space-top{
    margin-top: 40px;
}

.testemunho {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
}

.contato {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 4rem;
}

.contato_image {
display: none;
}

.footer {
    background-color: var(--gray);
    padding: 3rem 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright {
    white-space: nowrap;
}

.hero,
.brands,
.branding,
.testemunhos,
.contato {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.icons{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
}

@media screen and (max-width:399px){
    
    .header{    
        display: flex;
        justify-content: space-between;
    }

    #menu-icon{
        position: relative; 
        cursor: pointer;
        display: inline-block;
        height: 24px;
    }
    
    .menu-hamburguer{
        background-color: black;
        display: inline-block;
        height: 2px;
        width: 24px;
        position: relative;
    }

    .menu-hamburguer::after,.menu-hamburguer::before{
        content: "";
        background-color: black;
        display: inline-block;
        height: 2px;
        width: 24px;
        position: absolute;
        left: 0;
        transition-duration: 0.5s;
    }

    .menu-hamburguer::after {
        top: 8px;
    }

    .menu-hamburguer::before {
        top: -8px;
    }  

    .header-menu{
        max-height: 0;
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        overflow: hidden;
        transition: 0.6s;
        transition-property: background-color;
    }

    #menu-btn:checked ~ .header-menu, .header-menu:focus-within{
        max-height: 100vh;
        background-color: rgb(208, 208, 208);
    }

    #menu-btn:focus-within + #menu-icon{
        padding: 0px 2px 2px;
        outline : 2px solid black;
        outline-offset: 5px;
    }

    #menu-btn ~ .header-menu li{
        padding: 10px;       
    }

    #menu-btn ~ .header-menu li a{
        margin: 15px 0px;
        padding: 15px 10px;
    }

    #menu-btn:checked + #menu-icon .menu-hamburguer {
        background-color: transparent;
    }

    #menu-btn:checked + #menu-icon .menu-hamburguer::before{
        top: 0;
        transform: rotate(-45deg);
    }

    #menu-btn:checked + #menu-icon .menu-hamburguer::after{
        top: 0;
        transform: rotate(45deg);
    }
}

