body{
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    background-image: linear-gradient(160deg, 
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 5%,
    rgb(255, 203, 31) 35%,
    rgb(255, 203, 31) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapper{
    height: calc(100vh - 20px);
    margin:20px 60px 0px;
    overflow: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 strong{
    font-size: 52px;
    text-transform: uppercase;
    color: rgb(216, 20, 20);
}

p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 17px;
}

#btn-submit{
    background-color: rgb(46, 46, 65);
    color: white;
}

.animation{
    position: relative;
    height: 500px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs-absolute{
    position: absolute;
}

.img-1{
    left: -20px;
    animation-name: mexer;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.img-2{
    top: 0;
    right: 30px;
    animation-name: mexer;
    animation-duration: 3.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.img-3{
    z-index: 1;
    animation-name: mexer;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.img-4{
    bottom: -30px;
    left: 30px;
    z-index: 2;
    animation-name: mexer;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.img-5{
    top: -100px;
    left: 30px;
    z-index: 2;
    animation-name: mexer;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.img-6{
    top: 200px;
    right: 0;
    z-index: 2;
    animation-name: mexer;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mexer{
    0%{
        transform: translateY(0,0) perspective();
    }

    100%{
        transform: translate(20px,20px);
    }
}