html,body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 195, 143);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

form{
    background-color: white;
    border-left: 5px solid rgb(214, 125, 47);
    padding: 10px 20px;
}

fieldset{
    display: flex;
    flex-direction: column;
    border: 0px solid;
    height: 300px;
    width: 440px;
    margin: 10px;
}

legend{
    color: rgb(255, 152, 62);
    font-size: 30px;
}

label{
    margin-top: 10px;
    text-transform: uppercase;
    color: rgba(29, 29, 29, 0.867);
}

input{
    border: 2px solid rgba(196, 196, 196, 0.396);
    outline: 0px;
}

input.info_user{
    margin: 10px 0px 0px 0px;
    padding: 5px 0px;
    border-bottom: 2px solid rgb(201, 137, 80);
    border-radius: 0px 0px 5px 5px;
    transition-duration: 0.6s;
}

input.info_user:hover,input.info_user:focus{
    padding-left: 5px;
}

.input-submit{
    background-color: rgb(212, 120, 40);
    color: white;
    border: 0px solid;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#btns-user_interacao{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#style-action_p{
    font-size: 14px;
    margin-left: auto;
}
