html,body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(126, 138, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

form{
    background-color: white;
    border-left: 5px solid rgb(61, 61, 161);
    padding: 10px 20px;
}

fieldset{
    display: flex;
    flex-direction: column;
    border: 0px solid;
    width: 440px;
    height: 230px;
    margin: 10px;
}

legend{
    color: rgb(92, 92, 255);
    font-size: 30px;
}

label{
    margin-top: 10px;
    text-transform: uppercase;
    color: rgba(29, 29, 29, 0.867);
}

input{
    border: 2px solid rgba(196, 196, 196, 0.396);
    outline: 0px;
}

input.info_user{
    margin: 10px 0px 0px 0px;
    padding: 5px 0px;
    border-bottom: 2px solid rgb(142, 142, 255);
    border-radius: 0px 0px 5px 5px;
    transition-duration: 0.6s;
}

input.info_user:hover,input.info_user:focus{
    padding-left: 5px;
}

.input-submit{
    background-color: rgb(104, 104, 255);
    color: white;
    border: 0px solid;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#btns-user_interacao{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#link-cadastro{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(92, 92, 255);
    font-weight: bold;

    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease;
}

#link-cadastro:hover{
    text-decoration: underline;
    font-size: 19px;
}

#recuperar-senha{
    margin-left: auto
}