#div1{
    background-color: rgb(255, 54, 54);
    width: 40%;
    padding: 10px;
    height: 100px;
    position: sticky;
    top: 0;
}

#div2{
    background-color: rgb(65, 255, 90);
    padding: 5px;
    width: 40%;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

#div3{
    background-color: rgb(77, 77, 255);
    width: 40%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;

}