:root{
    --cor1:#658161;
    --cor2:#D4E2D2;
    --cor3:#a2df99;
    --cor4:#FFFFFF;
    --cor5:#111111;
    --cor6:#d2ffc7;
}

/*

fonts:

font-family: Arial, Helvetica, sans-serif;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
*/

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*
MENU PRINCIPAL
*/

#info-inicio{
    background-color: var(--cor1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-inicio > .links-contato{
    color: var(--cor4);
    margin: 30px 60px;
    text-decoration: none;
    font-weight: bolder;
}

#info-inicio > .links-contato:hover{
    color: var(--cor2);
    text-decoration: underline;
}

#info-inicio > .links-contato > img{
    padding: 0px 6px;
}

.links-icones{
    margin: 5px;
}

.icones-link{
    display: inline-block;
    margin:  30px 20px;
}

/*
MENU SECUNDÁRIO
*/

#link-menu{
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: center;
}

#link-menu > img{
    margin: 0px 500px 0px 50px;
}

#link-menu > a{ 
    color: var(--cor5);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 0px 20px;
}

#link-menu > a:hover{ 
    border-bottom: 2px solid var(--cor3);
}

/*
SESSÃO ESCOLHA
*/

#sessao-escolha{
    background-image: url('imgs/imagem-fundo.jpg');
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;
}

#conteudo-escolha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#conteudo-escolha > h2{
    margin: 110px 0px 40px 0px;
    font-size: 50px;
    text-shadow: -2px -2px 10px rgba(255, 255, 255, 0.514);
}

#conteudo-escolha > p{
    font-size: 25px;
    margin: 30px 60px;
    text-align: center;
}

#link-contate{
    margin: 20px;
    padding: 20px 40px;
    border-radius: 8px;
    border: 2px solid var(--cor4);
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}

#link-contate:hover{
    background-color: var(--cor4);
    color: var(--cor1);
}

.font-white{
    color: var(--cor4);
}

.imgs-principal{
    border-radius: 5px;
}

#cards-servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -30%;
}


.card-servico{
    display: inline-block;
    background-color: var(--cor4);
    padding: 30px 30px 30px 30px;
    margin: 15px;
    border-radius: 8px; 
    
}

.card-servico > p{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

/*
SESSAO NUTRIÇÃO
*/
#sessao-nutricao{
    margin: 400px 0px 0px 0px;
    background-color: var(--cor6);
    text-align: center;
    font-size: 18px;
}

#sessao-nutricao > article > h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: normal;
    margin: 80px 0px;
    
}

.cards-nutricao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-nutricao{
    margin: 15px;
    position: relative;
    text-align: center;
}

.imgs-nutricao{
    border-radius: 10px;
}

.estilo-text{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -35%;
}

.estilo-text > p{
    background-color: var(--cor4);
    display: inline-block;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 28px;
    width: 300px;
    height: 100px;
}

/*
SESSÃO INSTRUÇÕES
*/
#sessao-instrucoes{
    background-color: var(--cor6);
    text-align: center;
    padding: 70px 0px;
}

#sessao-instrucoes > article > h2{
    margin: 0px;
    font-size: 50px;
    font-weight: 100;
}

#sessao-instrucoes > article > p{
    font-size: 20px;
    font-weight: 100;
}

#cards-instrucoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-instrucoes{
    display: inline-block;
    background-color: var(--cor4);
    margin: 10px;
    width: 250px;
    height: 350px;
    border-radius: 9px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.card-instrucoes > h3{
    color: var(--cor1);
    font-size: 25px;
}

.card-instrucoes > h4{
    font-weight: 400;
    font-size: 23px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-instrucoes > p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px 0px;
}

.card-instrucoes > a{
    color: var(--cor3);
    border: 2px solid var(--cor3);
    padding: 10px 35px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.card-instrucoes > a:hover{
    color: var(--cor4);
    background-color: var(--cor3);
    padding: 12px 38px;
    transition-duration: 1s;
    text-decoration: underline;
}

/*
RODAPÉ
*/

#rodape-site{
    background-color: rgb(19, 17, 17);
    color: var(--cor4);
    padding: 50px 0px 0px 0px;
}

#container-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-card{
    display: inline-block;
    margin: 0px 90px;
    width: 250px;
    height: 270px;
}

.rodape-card > h5{
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--cor1);
}

.rodape-card > img{
    margin: 50px 0px 10px 0px;
}

.rodape-card > .link-rapido{
    display: block;
    margin: 5px;
    text-decoration: none;
    color: var(--cor4);
    font-size: 22px;
}

.rodape-card > .link-rapido:hover{
    text-decoration: underline;
    font-size: 24px;
    color: var(--cor1);
}

.rodape-card > .p-contato{
    font-size: 22px;
}

.icone-contato{
    padding: 0px 7px;
}

#creditos{
    margin: 100px 0px 0px 0px;
    padding: 10px;
    text-align: center;
    background-color: #333333;
}

#creditos > p > a{
    color: var(--cor4);
    font-size: 18px;
}