#h1-centralizados{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;

}

h1{
    display: inline-block;
    margin: 10px 100px;
}

#centralizado{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container{
    border: 3px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
    width: 30%;
    height: 300px;
    box-sizing: border-box;
}

.container > div{
    background-color: rgb(198, 136, 255);
    padding: 5px;
    margin: 10px;
}

.container-hidden{
    overflow: hidden;
}

.fit-content{
  width: fit-content; 
}

.container-scroll{
    overflow: scroll;
}

.min-content{
    width: min-content;
}

.container-auto{
    overflow: auto;
}

.max-content{
    width: max-content;
}