body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.main-title {
    color: #385555;
    margin: 0px 0px 20px 0px;
}

#lista-contatos{
    background-color: white;
    border-radius: 10px;
    width: 40%;
    max-width: 600px;
    height: 400px;
    overflow: auto;
}

.contato{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding: 20px; 
    border-bottom: 1px solid rgb(221, 221, 221);
}

.contato:hover{
    background-color: #dbdbdb;
}

.estilo-img{
    border-radius: 50%;
    display: inline-block;
}

.info-contato{
    flex-grow: 2;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: #8d8d8d;
}

 .contato .links-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: 0;
}

.contato:hover > .links-action{
    opacity: 0.3;
}