html,body{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url('../imagens/bg-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

header > h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 45px;
    text-shadow: 2px 1px 7px black;
    margin-top: 5px;
    margin-bottom: 0px;
}

header > p{
    background-color: rgb(59, 59, 59);
    display: inline-block;
    padding: 8px 15px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

article{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 810px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

article > div{
    margin: 10px 10px;
}

div > img{
    display: block;
    width: 250px;
}
div > p{
    margin: 0px;
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px;
}
