:root{
    --cor1:rgb(29, 29, 29);
    --cor2:rgb(209, 177, 38);
    --cor3:rgb(255, 255, 255);
    --cor4:rgb(31, 70, 107);
    --cor5:rgb(201, 201, 201);
}

/*
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-family: Arial, Helvetica, sans-serif;
font-family: Verdana, Geneva, Tahoma, sans-serif;
*/

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div#menu-logo{
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 120px;
}

#menu-logo > nav > .links_principal{
    color: var(--cor2);
    margin: 16px;
    padding: 7px 9px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Oswald,sans-serif;
    font-weight: 500;
    border: 1px solid var(--cor2);
    border-radius: 3px;
    

    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: linear;
    letter-spacing: 1px;
}

#menu-logo > nav > .links_principal:hover{
    background-color: var(--cor2);
    color: var(--cor1);
}

#intro-header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor2));
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro-header > #content-intro{
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 500px;
}

#intro-header > #content-intro > h1{
    font-size: 60px;
    line-height: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

#intro-header > #content-intro > a{
    color: var(--cor1);
    background-color: var(--cor2);
    padding: 10px 40px;
    font-family: Oswald,sans-serif;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    border-radius: 5px;

    transition-duration: 1s;
    transition-delay: 0.8;
    transition-timing-function: ease;
}

#intro-header > #content-intro > a:hover{
    outline: 1px solid var(--cor1);
    font-size: 20px;
}

#section_cursos{
    margin: 50px 50px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section_cursos > article{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 16px 0px;
}

#section_cursos > article > .cursos{
    height: 420px;
    width: 403px;
    border: 1px solid var(--cor5);
    border-radius: 10px;
    box-shadow: 8px 3px 17px -2px rgba(82, 82, 82, 0.515);
}

#section_cursos > article > .cursos > h3,p{
    margin: 20px 45px;
    text-align: justify;
}

#section_cursos > article > .cursos > h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

#section_cursos > article > .cursos > p{
    line-height: 25px;
    font-size: 18px;
    opacity: 0.7;
}

#section_cursos > a{
    color: var(--cor1);
    margin: 30px 0px 60px;
    padding: 10px 40px;
    text-decoration: none;
    font-family: Oswald;
    font-size: 25px;
    background-color: var(--cor2);
    border-radius: 5px;

    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease;
}

#section_cursos > a:hover{
    outline: 1px solid var(--cor1);
    font-size: 28px;
}

#article_info_escola{
    background-color: var(--cor4);
    padding: 50px 50px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#article_info_escola > #content_escola{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    color: var(--cor3);
}

#article_info_escola > #content_escola > h2{
    font-family: Oswald,sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 40px;
}

#article_info_escola > #content_escola > p{
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

#article_contato{
    margin:50px 0px;
    text-align: center;
}

#article_contato > h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#article_contato > #info_contato{
    display: flex;
    justify-content: right;
    text-align: center;
    margin: 0px 30px;
}

#article_contato > #info_contato > ul{
    list-style: none;
    font-size: 18px;
}

footer{
    background-color: var(--cor1);
    color: var(--cor3);
    padding: 10px;
}

footer > p{
    text-align: center;
}