body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title {
    color: #385555;
    margin: 0px 0px 30px 0px;
}

#lista-contatos{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.contato{
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

    width: 280px;
    height: 300px;
    margin: 10px 80px;
    padding-top: 80px;

    background-image: url('imagens/thumb02.jpg');
    background-repeat: no-repeat;
    
    border-radius: 10px;
    
}

.estilo-img{
    position: absolute;
    bottom: 130px;
    width: 80px;
    border-radius: 50%;
}

.info-contato{
    text-align: center;
}

.links-action{
    background-color: rgb(172, 172, 172);
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 5px 0px;
}

.links-action > a{
    opacity: 0.8;
    margin: 0px 30px;
}
