section#lista_section-component{
    display: flex;
    align-items: center;
    justify-content: center;
}

article#article_list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
}

div.list_container{
    width: 30%;
}

#list_alternate{
    list-style: none;
}

#list_alternate > li{
    padding: 5px 0px;
}

#list_alternate > li:not(:last-child):nth-child(1n){
    border-bottom: 2px solid;
}

#list_ambas > ul{
    list-style: none;
}

#list_ambas > ul > li::before{
    content: '\1F3B2';
}