.exemplos-tipografia{
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#sublinhado{
    text-decoration: rgb(255, 0, 0) wavy underline;
}

#style_link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: not-allowed; 
}
