@charset 'UTF-8';

:root{
    --cor1:rgb(14, 14, 14);
    --cor2:rgb(255, 255, 255);
    --cor3:rgb(26, 26, 26);
    --cor4:rgb(173, 255, 47);
    --cor5:rgb(27, 27, 27);
}

/*
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-family: Arial, Helvetica, sans-serif;
*/
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--cor1);
    color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--cor3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    gap: 16px;
}

#titulo-site{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin-right: 250px;
}

nav > a{
    text-decoration: none;
    color: var(--cor2);
    margin: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    letter-spacing: 1.5px;
}

nav > a:hover{
    text-decoration: underline;
}

#pagina-select{
    background-color: rgb(173, 255, 47);
    color: var(--cor1);
    padding: 13px;
    border-radius: 10px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
}

.intro > article > h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.intro > article > p{
    margin: 10px;
    color: var(--cor4);
    font-weight: bold;
    letter-spacing: 0.5px;
}

#planos{
    margin: 20px 0px 0px;
    display: flex;
    justify-content: center;
}

.conteudo-planos{
    background-color: var(--cor5);
    margin: 0px 10px;
    width: 250px;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planos-titulos{
    border-bottom: 2px solid var(--cor4);
    padding: 10px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.conteudo-planos > article > p{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conteudo-planos > article > p > span{
    font-size: 15px;
    font-weight: lighter;
}

.conteudo-planos > article > ul{
    padding: 0px 0px 0px 30px;
}

.conteudo-planos > article > ul > li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.conteudo-planos > article > ul > li::marker {
    color: var(--cor4);
}

.conteudo-planos > a{
    margin: 0px 0px 5px;
    color: var(--cor1);
    background-color: var(--cor4);
    padding: 13px;
    width: 80%;  
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    align-self: center;
}

.conteudo-planos > a:hover{
    text-decoration: underline;
    background-color: transparent;
    outline: 2px solid var(--cor4);
    color: rgb(255, 255, 255);
}